body{
    color: white;
    font-family: 'Roboto Slab', serif;
}

/*main-nav START*/
#main-nav{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 2;
    transition: all 0.4s;
}

#main-nav.change-color{
    background-color: rgba(90,241,88,0.6);
}
#main-nav.change-color a:hover{
    color: #000;
}

#main-nav a{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#main-nav a:hover{
/*    color: #5af158;*/
    color: #5af158;
}

#main-nav .navbar-brand {
    font-weight: 400;
    font-size: 1.5rem;
    font-style: italic;
}
/*main-nav STOP*/

/*main-header START*/
header#main-header{
    background-image: url('../img/header/laptop-1209008_1280.jpg');
    height: 100vh;
    background-size: cover;
    position: relative;
}

#main-header .mask-header{
    width: 100%;
	height: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.5);    
    position: absolute;
    
}

.header-content{
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);  
}

#header-content h1,
#header-content h2{
    margin-bottom: 40px;
}

#header-content h1{
    font-size: 4.5rem;
}

#header-content h2{
    font-size: 3rem;
    font-weight: 400;
    font-style: italic;
}
#header-content button{
    background-color: #5af158;
    color: white;
    border: 0;
}
#header-content button:hover{
    background-color: white;
    color: #5af158;
    border: 0;
}
/*main-nav STOP*/


/*section services START*/
#services{
    color: #000;
    text-align: center;
    padding-top: 150px;
}

#services .services-container{
    margin-top: 110px;
    margin-bottom: 200px;
}

#services h2{
    font-size: 3rem;
    font-weight: 400;
}

#services p{
    color: #555;
}

#services .services  i{
    font-size: 3.5rem;
/*    background-color: #5af158;*/
    background-color: #5af158;
    color: white;
    border: 2px solid #5af158;
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 30px;
    transition: all 0.7s;
}

#services .services  i:hover{
    color: #5af158;
    background-color: #fff;
    transform: rotate(360deg);
}

#services .services h3{
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 30px;
}
/*section services STOP*/

/*section portfolio START*/
#portfolio{
    color: #000;
    text-align: center;
    padding-top: 150px;
    background-color: lightgray;
}

#portfolio .portfolio-container{
    margin-top: 110px;
    padding-bottom: 100px;
}

#portfolio h2{
    font-size: 3rem;
    font-weight: 400;
}

#portfolio p{
    color: #555;
}
.portfolio-squares{
   height: 200px; 
   background-size: cover;
   background-repeat: no-repeat;
    transition: all 0.5s;
   
}
#portfolio1{
    background-image: url('../img/portfolio/1.jpg');
}
#portfolio2{
    background-image: url('../img/portfolio/2.jpg');
}
#portfolio3{
    background-image: url('../img/portfolio/3.jpg');
}
#portfolio4{
    background-image: url('../img/portfolio/4.jpg');
}
#portfolio5{
    background-image: url('../img/portfolio/5.jpg');
}
#portfolio6{
    background-image: url('../img/portfolio/6.jpg');
}

.portfolio-mask{
    background: rgba(90,241,88,0.6);
    color: #fff;
	height: 100%;
    opacity: 0;
    position: relative;
    transition: all 0.5s ease-out;  
}

.portfolio-mask i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 3rem;
}

.scale{
    overflow: hidden;
    
}
.portfolio-mask:hover{
    opacity: 1;
}

.portfolio-squares:hover{
      transform: scale(1.3);
    
}

/*section portfolio STOP*/

/*section team START*/
#team{
    color: #000;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

#team .team-container{
    margin-top: 110px;
    margin-bottom: 200px;
}

#team h2{
    font-size: 3rem;
    font-weight: 400;
}

#team p{
    color: #555;
}


#team h3 {
    margin-top: 30px;
}

#team img
{
    max-width: 100%;
}
.team-social {
    padding-bottom: 10px;
}
.soc{
    font-size: 1.5rem;
    height: 40px;
    width: 40PX;
    color: #fff;
    border-radius: 50%;
    background-color: #000;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    transition: all 0.5s;
}

.soc:hover{
    cursor: pointer;
    background-color: #5af158; 
}

#team .row{
    padding-bottom: 50px;
}
/*section team STOP*/


/*section contact START*/
#contact{
    color: #fff;
    text-align: center;
    background-image: url('../img/footer/pexels-photo-592753.jpeg');
    background-size: cover;
}

#contact .mask-header{
    width: 100%;
	height: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.7);    
    position: relative;
    
}
.small-header{
    padding-top: 100px;
}
#contact h2{
    font-size: 3rem;
    font-weight: 400;
}

#contact form{
    padding-top: 80px;
    padding-bottom: 80px;
}

#contact form input{
    padding: 27px;

}

#contact form textarea{
    height: 200px;
    
}

#contact button{
    background-color: #5af158;
    color: white;
    border: 0;
}

#contact button:hover{
    background-color: aliceblue;
    color: #5af158;
    border: 0;
}
/*section contact STOP*/


/*footer START*/
#footer{
    padding-top: 15px;
    padding-bottom: 15px;
    color: #555;
    font-size: 1rem;
}

#footer a{
    color: #555;
    
}

#footer .team-social{
    text-align: center;
    transition: all 0.5s;
}

#footer .team-social:hover{
    color: #5af158;
}

.footer-text{
    padding-top: 7px;
    text-align: center;
}
/*footer STOP*/


